{% extends 'base.html' %} 
{% block header %}
<h1>{% block title %}Send a payment{% endblock %}</h1>
{% endblock %} 
{% block content %} 
<form method="POST" id="send-payment-form">
  {{ form.hidden_tag() }}

  {% from "_formhelpers.html" import render_field %}

  {{ render_field(form.send_to) }}
  {{ render_field(form.amount) }}
  <button name="form-submit" type="submit">Submit</button>
</form>
<div class='auth-ot'>
  Waiting for OneTouch Approval ...
</div>
<script src="{{ url_for('static', filename='js/sessions.js') }}""></script>
{% endblock %}
